.git
.env
.env.*
vendor
node_modules
public/build
public/storage
package-lock.json
bootstrap/cache/*.php
.fly
.gemini
.idea
.vscode
**/*.sock
**/*.pid
**/*.pipe
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.log
tests
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**
storage/logs/**
public/hot
